<div class="header bg-gradient-danger pb-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h3 class="mb-0">Historial de reservaciones</h3>
                        </div>
                    </div>

                    <ng-template #confirmation let-c="close" let-d="dismiss">
                        <div class="modal-content bg-gradient-danger">
                            <div class="modal-header">
                                <h6 class="modal-title" id="modal-title-notification">Cambiar estado reservacion</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="confirmationModal.hide()">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body"> 
                                <div class="py-3 text-center">
                                    <i class="ni ni-bell-55 ni-3x"></i>
                                    <h4 class="heading mt-4">Esta seguro de cambiar el estado de esta reservacion a {{statusRes}}?</h4>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white"
                                    (click)="changeStatus(selectedRow)">Si</button>
                                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal"
                                    (click)="confirmationModal.hide()">Cerrar</button>
                            </div>
                        </div>
                    </ng-template>
                    <div class="dataTables_wrapper py-4">
                        <div class="row">
                            <div class="">
                                <div class="dataTables_length" id="datatable_length">
                                    <label>
                                        Mostrar
                                        <select name="datatable_length" aria-controls="datatable"
                                            class="form-control form-control-sm" (change)="entriesChange($event)">
                                            <option value="10" [selected]="entries == 10">10</option>
                                            <option value="25" [selected]="entries == 25">25</option>
                                            <option value="50" [selected]="entries == 50">50</option>
                                            <option value="-1" [selected]="entries == -1">All</option>
                                        </select>
                                        Entradas
                                    </label>
                                </div>
                            </div>
                            <div class="">
                                <div class="dataTables_length" id="datatable_length">
                                    <label>
                                        Filtrar
                                        <select name="datatable_length" aria-controls="datatable"
                                            class="form-control form-control-sm" (change)="changeReservation($event)">
                                            <option value="CHECK-IN" >CHECK-IN</option>
                                            <option value="CHECK-OUT" >CHECK-OUT</option>
                                            <option value="PENDING-CONFIRMATION" >CONFIRMACION PENDIENTE</option>
                                            <option value="CONFIRM" >CONFIRMADA</option>
                                            <option value="ALL" >TODOS</option>
                                        </select>
                                        por estado
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div id="datatable_filter" class="dataTables_filter">
                                    <label>
                                        <input type="search" class="form-control form-control-sm"
                                            placeholder="BUSQUEDA" aria-controls="datatable"
                                            (keyup)="filterTable($event)" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <ngx-datatable #myTable class="bootstrap selection-cell" [columnMode]="'force'"
                            [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto"
                            [limit]="entries != -1 ? entries : undefined" [scrollbarH]="true" [rows]="temp">
                            
                            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    <div class="row">
                                        <div style="padding-left:35px;">
                                            <div><strong>Check IN - Check OUT</strong></div>
                                            <div>{{ row.reservations[0].check_in }} - {{ row.reservations[0].check_out }}
                                            </div>
                                        </div>
                                        <div style="padding-left:35px;">
                                            <div><strong>Noches</strong></div>
                                            <div>{{ row.reservations[0].nights }}
                                            </div>
                                        </div>
                                        <div style="padding-left:35px;">
                                            <div><strong>Adultos y Niños</strong></div>
                                            <div>{{ row.reservations[0].adults }} - {{ row.reservations[0].childs }}
                                            </div>
                                        </div>
                                        <div style="padding-left:35px;">
                                            <div><strong>Total</strong></div>
                                            <div>{{ row.reservations[0].total | currency: 'GTQ' }}
                                            </div>
                                        </div>
                                        <div style="padding-left:35px;">
                                            <div><strong>Hostal y Habitacion</strong></div>
                                            <div>{{ row.reservations[0].hostal_name }} - {{ row.reservations[0].room_name }} 
                                            </div>
                                        </div>
                                    </div>
                                    
                                </ng-template>
                            </ngx-datatable-row-detail>
                            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false"
                                [draggable]="false" [canAutoResize]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                        (click)="toggleExpandRow(row)">
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngFor="let item of columns" name="{{ item.name }}"
                                prop="{{ item.prop }}">

                            </ngx-datatable-column>
                            <ngx-datatable-column name="OPCIONES">
                                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <div class="own">
                                        <button class="btn btn-danger btno2" *ngIf="row.status !== 'CHECK-OUT'" (click)="openDefaultModal(confirmation, row)">
                                            CAMBIAR ESTADO
                                        </button>

                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
